<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Render</title>
  <!-- Agregar el enlace a Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .message-container {
      margin-top: 20%;
    }
  </style>
</head>
<body>
  <div class="container text-center message-container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">¡Éxito!</h4>
      <p>Proyecto render ejecutado correctamente.</p>
    </div>
  </div>

  <!-- Agregar los scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
